<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml"
      xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Romanian Books</title>
</head>
<body style="background-color:#f0f0f0; font-family: Garamond; font-size:110%">

<div>
    <div id="top" class="bar" style="background: #330033">
        <a class="logo">
            <b>
                <h1 style="color: whitesmoke; font-size:220%;font-family: Perpetua; margin-top: 0px" width="70" height="70"  align="center">
                    <a class="btn" href="/account/mainAccount" style="font-size:140%">
                        Books Maze
                    </a>
                </h1>
            </b>
        </a><div id="headerBar" align="center">
        <div class="search-component" align="right"  style="background: white">

            <a class="btn primary" href="/account/info" >Account</a>
            <a class="btn primary" href="../" >Log Out</a>
        </div>
    </div>
    </div>
</div>

<div style="margin-left: 50px; margin-bottom: 20px; font-family: Garamond; color: #330033; font-size:200%;">
    <b>
        Welcome to your account!
    </b>
</div>
<div style="margin-left: 100px; margin-bottom: 20px; font-family: Garamond; color: #330033; font-size:200%;">
    <b>
        Romanian Books
    </b>
</div>
<div th:each="book : ${books}">
    <table style="margin-left: 50px; background: white; overflow-x: auto; margin-right: 50px; right: inherit">

        <th style="border-bottom: 1px solid lightgray "> <img th:src="${book.imagePath1}" width="100" height="150"/> </th>
        <td>
            <table style="border-bottom: 1px solid lightgray ">
                <tr>
                    <td > <b>Title</b></td>
                    <td style="border-right: 1px solid lightgray; width: 50px" th:text="${book.title}" ></td>
                    <td>
                        <b>Description</b>
                        <div th:align="left" th:width="100" th:text="${book.description}"> </div>

                    </td>

                </tr>
                <tr>
                    <td> <b>Author</b></td>
                    <td style="border-right: 1px solid lightgray; width: 200px"  th:text="${book.authors}"></td>
                </tr>
                <tr>
                    <td> <b>Publisher</b></td>
                    <td style="border-right: 1px solid lightgray; width: 200px"  th:text="${book.publisher}"></td>
                </tr>
                <tr>
                    <td> <b>Genres</b></td>
                    <td style="border-right: 1px solid lightgray; width: 200px " th:text="${book.genres}"></td>
                </tr>
                <tr>
                    <td> <b>Language</b></td>
                    <td style="border-right: 1px solid lightgray ; width: 200px" th:text="${book.language}" ></td>
                </tr>
                <tr>
                    <td> <b>Pages number</b></td>
                    <td style="border-right: 1px solid lightgray ; width: 200px" th:text="${book.pagesNumber}"></td>
                </tr>
                <tr >
                    <td> <b>Price</b></td>
                    <td style="border-right: 1px solid lightgray; width: 200px" th:text="${book.price} + ' lei'"></td>
                    <td>  <input type="submit" value="Read" class="search-bar-submit" aria-label="Read submit" style="font-size: 100%; font-family: Garamond;background-color:#4b014b;color:white "></td>
                </tr>
            </table>

        </td>


    </table>
</div>
</body>
</html>