<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<body style="background-color:#f0f0f0; font-family: Garamond; font-size:110%">
<div>
    <div id="top" class="bar" style="background: #330033">
        <a class="logo">
            <b>
                <h1 style="color: whitesmoke; font-size:220%;font-family: Perpetua; margin-top: 0px" width="70" height="70"  align="center">
                    <a class="btn" href="../" style="font-size:140%">
                        Books Maze
                    </a>
                </h1>
            </b>
        </a>
    </div>
</div>
<div style="margin-left: 100px; margin-bottom: 20px; font-family: Garamond; color: #330033; font-size:200%;">
    <b>
        The title you are looking for does not exist in our library. Please try again!
    </b>
</div>

</body>
</html>